.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-scale infinite 3s ease-in-out alternate-reverse;
  }
}

.App-header {
  background-color: #08182f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #57a772;
}

@keyframes App-logo-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
